.navbar {
	background-color: darkgreen;
	color: white;
	left: 0;
	margin-bottom: 20px;
	padding-left: 20px;
	position: fixed;
	top: 0;
}

h1{
	text-align: center;
}

.container {
	background-color: peru;
	height: 5000px;
	margin-top: 50px;
	position: relative;
	width: 100%;
}

.row {
	width: 100%;
}

h2 {
	border: 20px;
	margin: 20px;
	padding: 20px;
	text-align: center;
}

#map-canvas {
	border: dotted;
	border-color: deeppink;
	height: 512px;
	margin: 10px;
	width: 100%;
}	

#bing-canvas{
	border: dotted;
	border-color: orange;
	height: 512px;
	margin: 10px;
	width: 100%;
}

#esri-canvas{
	border: dotted;
	border-color: chartreuse;
	height: 512px;
	margin: 10px;
	width: 100%;
}

#open-canvas{
	border: dotted;
	border-color: green;
	height: 512px;
	margin: 10px;
	width: 100%;
}

#here-canvas{
	border: dotted;
	border-color: blue;
	height: 512px;
	margin: 10px;
	width: 100%;
}


