.navbar {
	background-color: darkgreen;
	color: white;
	padding-left: 20px;
	margin-bottom: 20px;
	position: fixed;
	top: 0;
	left: 0;
	}

h1{
	text-align: center;
}

.container {
	height: 5000px;
	width: 100%;
	background-color: peru;
	margin-top: 50px;
	position: relative;
}

.row {
/*	height: 800px;*/
	width: 100%;
}

h2 {
	border: 20px;
	margin: 20px;
	padding: 20px;
	text-align: center;
}

#map-canvas {
	margin: 10px;
	height: 512px;
	width: 100%;
	border: dotted;
	border-color: deeppink;
}	

#bing-canvas{
	margin: 10px;
	border: dotted;
	border-color: orange;
	height: 512px;
	width: 100%;
}

