.navbar {
	background-color: darkgreen;
	color: white;
	padding-left: 20px;
	margin-bottom: 20px;
	position: fixed;
}


.container {
	height: 100%;
	width: 100%;
	background-color: peru;
	margin-top: 50px;
}

.row {
	height: 600px;
	width: 100%;
}

#map-canvas {
	margin: 50px;
	height: 500px;
	width: 800px;
}	

