.navbar {
	background-color: darkgreen;
	color: white;
	left: 0;
	margin-bottom: 20px;
	padding-left: 20px;
	position: fixed;
	top: 0;
}

h1{
	text-align: center;
}

.container {
	background-color: peru;
	height: 5000px;
	margin-top: 50px;
	position: relative;
	width: 100%;
}

.row {
	width: 100%;
}

h2 {
	border: 20px;
	margin: 20px;
	padding: 20px;
	text-align: center;
}

#google {
	border: dotted;
	border-color: deeppink;
	height: 512px;
	margin: 10px;
	width: 100%;
}	

#bing {
	border: dotted;
	border-color: orange;
	height: 512px;
	position: relative;
	margin: 10px;
	width: 100%;
}

#esri {
	border: dotted;
	border-color: chartreuse;
	height: 512px;
	margin: 10px;
	width: 100%;
}

#nokia {
	border: dotted;
	border-color: deeporchid;
	height: 512px;
	margin: 10px;
	width: 100%;
}

#mapquest {
	border: dotted;
	border-color: green;
	height: 512px;
	margin: 10px;
	width: 1280px;
	/*Both options below fail.*/
	/*max-width: none !important;*/
	/*width: 100%;*/
}

