body.img-responsive {
	background: url('/img/bg-pattern.png') repeat;
	color: white;
	height: auto;
	margin: 0;
	max-width: 100%;
}

.container-fluid {

}

h1 {
	text-align: center;
}

.row {
	width: 100%;
}

.map-checkbox-form input[type=checkbox] {
	text-align: left;
}

.map {
	width: 100%;
	background-color: white
}
/*.dropdown-menu {
	height: 30px;
}*/

.map-shell {
	background-color: white;
	border: 10px;
	border-style: solid;
	border-color: white;
	padding: 1px solid;
	padding-color: black;
	margin: 5px;
	width: 100%;
}

/*.map-wrapper {
	border: 5px;
	margin: 5px;
}*/

/*.map-radio-form {
	width: 100%;
}*/