body.img-responsive {
	background: url('/img/bg-pattern.png') repeat;
	color: white;
	height: auto;
	margin: 0;
	max-width: 100%;
}

.container-fluid {
	padding-left: 40px;
}

h1 {
	text-align: center;
}

.row {
	width: 100%;
}

.map-checkbox-form input[type=checkbox] {
	position: relative;
	margin-top: 1px;
	width: 100%;
}

.map {
	width: 100%;
}
/*.dropdown-menu {
	height: 30px;
}*/

.map-wrapper {
	margin: 5px;
	border: 5px;
}

/*.map-radio-form {
	width: 100%;
}*/