h1 {
	text-align: center;
}

.container {
	margin-top: 50px;
	position: relative;
	width: 100%;
	border-left: 15px;
}

.row {
	width: 100%;
}

.map-checkbox-form input[type=checkbox] {
	float: left;
	margin-left: 10px;
	width: 100%;
}

.map {
	width: 100%;
}

.map-wrapper {
	margin: 5px;
	border: 5px;
	color: black;
}

.map-radio-form {
	width: 100%;
}