body.img-responsive {
	background: url('/img/bg-pattern.png') repeat;
	height: auto;
	margin: 0;
	max-width: 100%;
}

.container-fluid {

}

h1 {
	color: white;
	text-align: center;
}

.row {
	width: 100%;
}

.map-checkbox-form input[type=checkbox] {
	color: white;
	text-align: left;
}

.map {
	background-color: white;
	color: black;
	position: relative;
	width: 100%;
}

h4 {
	color: black;
	text-align: center;
}
/*.dropdown-menu {
	height: 30px;
}*/

/*.map-title {
	border: white 50px;
	position: absolute;
	width: 100%;
}

h3 {
	height:20px;
	width: 100%;
	z-index: 2;
}*/

.map-shell {
	background-color: white;
	border: 10px;
	border-style: solid;
	border-color: white;
	padding: 1px solid;
	padding-color: black;
	margin: 5px;
	width: 100%;
}

/*.map-wrapper {
	border: 5px;
	margin: 5px;
}*/

/*.map-radio-form {
	width: 100%;
}*/